/*
	Credit to Meyerweb for CSS styling reset.
*/

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/*
	Font faces
*/

@font-face {
	font-family: 'Source Sans 3';
	src: url('../fonts/SourceSans3-VariableFont_wght.ttf');
}

@font-face {
	font-family: 'Poppins';
	src: url('../fonts/Poppins-Regular.ttf');
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-VariableFont_wdth\,wght.ttf');
}

/*
	Generalised Rules
*/

html, body {
	font-family: 'Source Sans 3', Verdana, Geneva, Tahoma, sans-serif;
	scrollbar-color: #c2c2c2 white;
}

/*
	Scrollbar because fancy
*/

::-webkit-scrollbar {
	width: 10px;
	background-color: white;
}

::-webkit-scrollbar-thumb {
	background-color: #c2c2c2;
	border: white solid 2px;
	border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #a3a3a3;
}

::-webkit-scrollbar-thumb:active {
	background-color: #818181;
}

/*
	Big orange gradiented text
*/

.page .main-text {
	width: 100%;
	display: block;
	height: 60vh;
	background-image: linear-gradient(to right bottom, rgb(255, 196, 0), rgb(189, 53, 0));
	color: white;
}

.main-text-wrapper {
	padding: 100px;
}

.page .main-text .main-text-wrapper h1 {
	font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
	font-size: 80pt;
}

.page .main-text .main-text-wrapper p {
	font-family: 'Open Sans', Verdana, Geneva, Tahoma, sans-serif;
	font-size: 55pt;
}

/*
	About me
*/

.about-me {
	width: 100%;
	background-color: lightgray;
}

.about-me .about-me-content {
	padding: 35px;
}

/*
	About me - Text
*/

.about-me .about-me-content h2 {
	font-family: 'Open Sans', Verdana, Geneva, Tahoma, sans-serif;
	font-size: 40pt;
}

.about-me .about-me-content p {
	font-family: 'Source Sans', Verdana, Geneva, Tahoma, sans-serif;
	font-size: 25pt;
}

/*
	Project entries
*/

.project-item {
	width: 100%;
	height: 40vh;
	background: lightgray;
}

/*
	Description box
*/

.project-item .goto-box {
	height: 100%;
	width: 40%;
	float: left;
}

.project-item .goto-box h1 {
	font-family: 'Open Sans', Verdana, Geneva, Tahoma, sans-serif;
	font-size: 50pt;
	padding: 35px;
	padding-bottom: 10px;
}

.project-item .goto-box p {
	font-size: 25pt;
	padding: 35px;
	padding-top: 0;
}

/*
	Supporting image
*/

.project-item img {
	float: left;
	width: 60%;
	height: 100%;
}

/*
	Styled colour classes for ease and simplicity
*/

.project-item.blue-style-item .goto-box {
	background-image: linear-gradient(to right bottom, #2d89ef, #1BA1E2);
	color: white;
}

.project-item.red-style-item .goto-box {
	background-image: linear-gradient(to right bottom, #f04747, rgb(161, 51, 0));
	color: white;
}

/*
	Add smaller device support
*/

/*
	Mobile Devices
*/

@media screen and (max-width: 1024px) {
	/*
		Main big welcome gradiented orange text
	*/

	.page .main-text .main-text-wrapper h1 {
		font-size: 35pt;
	}

	.page .main-text .main-text-wrapper p {
		font-size: 25pt;
	}

	.main-text-wrapper {
		padding: 50px;
	}

	.page .main-text {
		height: 30vh;
	}

	/*
		About me section
	*/

	.about-me .about-me-content {
		padding: 20px;
	}

	.about-me .about-me-content h2 {
		font-size: 23pt;
	}

	.about-me .about-me-content p {
		font-size: 12pt;
	}

	/*
		Project entries
	*/

	.project-item {
		height: auto;
	}

	.project-item .goto-box {
		width: 100%;
		float: left;
	}

	.project-item img {
		width: 100%;
		float: left;
	}

	.project-item .goto-box h1 {
		padding: 20px;
		padding-bottom: 5px;
		font-size: 25pt;
	}

	.project-item .goto-box p {
		padding: 20px;
		padding-top: 0;
		font-size: 15pt;
	}
}

@media screen and (max-width: 600px) {
	/*
		Main big welcome gradiented orange text
	*/

	.page .main-text .main-text-wrapper h1 {
		font-size: 25pt;
	}

	.page .main-text .main-text-wrapper p {
		font-size: 15pt;
	}

	.main-text-wrapper {
		padding: 45px;
	}

	.page .main-text {
		height: 30vh;
	}

	/*
		Project entries
	*/

	.project-item {
		height: auto;
	}

	.project-item .goto-box {
		width: 100%;
		float: left;
	}

	.project-item img {
		width: 100%;
		float: left;
	}

	.project-item .goto-box h1 {
		font-size: 20pt;
	}

	.project-item .goto-box p {
		font-size: 10pt;
	}
}